@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_ViewAdmin.cshtml";
}

@using sistema.Funciones;
@using sistema.Conexiones;
@using sistema.Models;

@{
    Funciones funcion = new Funciones();
    Conexion conexion_now = new Conexion();

    string nombre_buscador = "";

    if (ViewBag.nombre_buscar != null)
    {
        nombre_buscador = ViewBag.nombre_buscar;
    }

    int buscador_activo = 0;

    if (ViewBag.buscador_activo != null)
    {
        buscador_activo = ViewBag.buscador_activo;
    }

    List<productos> productos = new List<productos>();
    int cantidad_productos = 0;

    if (buscador_activo == 1)
    {

        if (nombre_buscador == null)
        {
            productos = conexion_now.listarProductos("");
        }
        else
        {
            productos = conexion_now.listarProductos(nombre_buscador);
        }

    }
    else
    {
        productos = conexion_now.listarProductos("");
    }

    cantidad_productos = productos.Count;

    int cantidad_proveedores = 0;

    List<proveedores> proveedores = new List<proveedores>();
    proveedores = conexion_now.listarProveedores("");
    cantidad_proveedores = proveedores.Count;

    int check_editar = 0;
    if (ViewBag.modoEditar != null)
    {
        check_editar = ViewBag.modoEditar;
    }
    int id_producto = 0;
    if (check_editar == 1)
    {
        if (ViewBag.id_producto != null)
        {
            id_producto = ViewBag.id_producto;
        }
    }

}

@if (@buscador_activo != 1)
{
    <div class="panel contenedor panel-default">
        <div class="panel-heading">Productos encontrados : @cantidad_productos</div>
        <div class="panel-body">
            @using (Html.BeginForm("BuscarProductos", "Administracion", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <fieldset>
                    <div class="form-group">
                        <label for="inputBuscar" class="col-lg-2 control-label">Nombre</label>
                        <div class="col-lg-10">
                            <input class="form-control" id="inputBuscar" placeholder="Nombre" name="nombre_buscar" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="busqueda" id="buscar_productos" class="btn btn-primary center-block">Buscar</button>
                    </div>
                </fieldset>
            }
        </div>
    </div>
}
else
{
    if (cantidad_productos == 0)
    {
        <center><b>No se encontraron productos</b></center>
    }
    else
    {

        <div class="panel contenedor panel-default">
            <div class="panel-heading">Productos encontrados : @cantidad_productos</div>
            <div class="panel-body">
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th class="fila_producto">Nombre</th>
                            <th class="fila_producto">Descripcion</th>
                            <th class="fila_producto">Precio</th>
                            <th class="fila_producto">Proveedor</th>
                            <th class="fila_producto">Registro</th>
                            <th class="fila_producto">Opción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var producto in productos)
                        {
                            string nombre_proveedor = conexion_now.cargarNombreProveedor(Int32.Parse(producto.id_proveedor.ToString()));
                            <tr>
                                <td class="filterable-cell fila_producto">@producto.nombre_producto</td>
                                <td class="filterable-cell fila_producto">@producto.descripcion</td>
                                <td class="filterable-cell fila_producto">@producto.precio</td>
                                <td class="filterable-cell fila_producto">@nombre_proveedor</td>
                                <td class="filterable-cell fila_producto">@producto.fecha_registro</td>
                                <td class="filterable-cell fila_producto"><a href="/Administracion/Productos/Editar/@producto.id_producto"><img src="@Url.Content("~/Content/images/edit.png")" title="Editar"></a> <a href="/Administracion/Productos/Borrar/@producto.id_producto"><img src="@Url.Content("~/Content/images/delete.png")" title="Borrar"></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}

@if (check_editar == 0)
{

    <div class="panel contenedor panel-default">
        <div class="panel-heading">Agregar Producto</div>
        <div class="panel-body">
            @using (Html.BeginForm("AgregarProducto", "Administracion", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <fieldset>
                    <legend>Datos</legend>
                    <div class="form-group" name="form-group-nombre">
                        <label for="inputNombre" class="col-lg-2 control-label">Nombre producto</label>
                        <div class="col-lg-10">
                            <input class="form-control" id="inputNombre" placeholder="Ingrese nombre producto" type="text" name="nombre_producto">
                        </div>
                    </div>
                    <div class="form-group" name="form-group-descripcion">
                        <label for="textArea" class="col-lg-2 control-label">Descripcion</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="3" id="textArea" placeholder="Ingrese descripcion" name="descripcion"></textarea>
                        </div>
                    </div>
                    <div class="form-group" name="form-group-precio">
                        <label for="inputPrecio" class="col-lg-2 control-label">Precio</label>
                        <div class="col-lg-10">
                            <input class="form-control" id="inputPrecio" placeholder="Ingrese precio" type="text" name="precio">
                        </div>
                    </div>
                    <div class="form-group" name="form-group-proveedor">
                        <label for="select" class="col-lg-2 control-label">Proveedor</label>
                        <div class="col-lg-10">
                            <select class="form-control" id="select" name="id_proveedor">

                                @if (cantidad_proveedores == 0)
                                {
                                    <option value="null">No se encontraron proveedores</option>
                                }
                                else
                                {
                                    foreach (var proveedor in proveedores)
                                    {
                                        <option value="@proveedor.id_proveedor">@proveedor.nombre_empresa</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary center-block" name="agregar_producto" id="agregar_producto">Agregar</button>
                    </div>
                </fieldset>
            }
        </div>
    </div>

}
else
{

    productos producto_load = new productos();
    producto_load = conexion_now.cargarProducto(id_producto);

    string id_producto_real = producto_load.id_producto.ToString();
    string nombre_producto = producto_load.nombre_producto;
    string descripcion = producto_load.descripcion;
    string precio = producto_load.precio.ToString();
    string id_proveedor = producto_load.id_proveedor.ToString();

    <div class="panel contenedor panel-default">
        <div class="panel-heading">Editando al producto @nombre_producto</div>
        <div class="panel-body">
            @using (Html.BeginForm("EditarProducto", "Administracion", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <input type="hidden" name="id_producto" value="@id_producto_real">
                <fieldset>
                    <legend>Datos</legend>
                    <div class="form-group" name="form-group-nombre">
                        <label for="inputNombre" class="col-lg-2 control-label">Nombre producto</label>
                        <div class="col-lg-10">
                            <input class="form-control" id="inputNombre" placeholder="Ingrese nombre producto" type="text" name="nombre_producto" value="@nombre_producto">
                        </div>
                    </div>
                    <div class="form-group" name="form-group-descripcion">
                        <label for="textArea" class="col-lg-2 control-label">Descripcion</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="3" id="textArea" placeholder="Ingrese descripcion" name="descripcion">@descripcion</textarea>
                        </div>
                    </div>
                    <div class="form-group" name="form-group-precio">
                        <label for="inputPrecio" class="col-lg-2 control-label">Precio</label>
                        <div class="col-lg-10">
                            <input class="form-control" id="inputPrecio" placeholder="Ingrese precio" type="text" name="precio" value="@precio">
                        </div>
                    </div>
                    <div class="form-group" name="form-group-proveedor">
                        <label for="select" class="col-lg-2 control-label">Proveedor</label>
                        <div class="col-lg-10">
                            <select class="form-control" id="select" name="id_proveedor">

                                @if (cantidad_proveedores == 0)
                                {
                                    <option value="null">No se encontraron proveedores</option>
                                }
                                else
                                {
                                    foreach (var proveedor in proveedores)
                                    {
                                        if (proveedor.id_proveedor.ToString() == id_proveedor.ToString())
                                        {
                                            <option value="@proveedor.id_proveedor" selected="true">@proveedor.nombre_empresa</option>
                                        }
                                        else
                                        {
                                            <option value="@proveedor.id_proveedor">@proveedor.nombre_empresa</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary center-block" name="editar_producto" id="editar_producto">Editar</button>
                    </div>
                </fieldset>
            }
        </div>
    </div>

}

@{
    if (ViewBag.estado != null)
    {
        string titulo = ViewBag.titulo;
        string contenido = ViewBag.contenido;
        string tipo = ViewBag.tipo;
        if (contenido != "")
        {
            <script>
                swal({
                    title: '@titulo',
                    text: '@contenido',
                    type: '@tipo',
                    html: true,
                    animation: false
                });
            </script>;
        }
    }
}