{% extends '::layout_admin.html.twig' %}

{% block title %}
	Productos
{% endblock %}

{% block body %}

	<div class="panel contenedor panel-default">
	<div class="panel-heading">Agregar Producto</div>
	<div class="panel-body">
	{{ form_start(form, {'action': path('sistema_agregar_producto'), 'method': 'POST',attr: {class: 'form-horizontal','data-toggle':'validator',role:'form'}}) }}
	  <fieldset>
		<legend>Datos</legend>
		<div class="form-group has-feedback" name="form-group-nombre">
		  <label for="inputNombre" class="col-lg-2 control-label">Nombre</label>
		  <div class="col-lg-10">
		  	{{ form_widget(form.nombre) }}
		  </div>
		  <div class="text-center help-block with-errors"></div>
		</div>
		<div class="form-group has-feedback" name="form-group-descripcion">
		  <label for="textArea" class="col-lg-2 control-label">Descripción</label>
		  <div class="col-lg-10">
		  	{{ form_widget(form.descripcion) }}
		  </div>
		  <div class="text-center help-block with-errors"></div>
		</div>
		<div class="form-group has-feedback" name="form-group-precio">
		  <label for="inputPrecio" class="col-lg-2 control-label">Precio</label>
		  <div class="col-lg-10">
		  	{{ form_widget(form.precio) }}
		  </div>
		  <div class="text-center help-block with-errors"></div>
		</div>
		<div class="form-group has-feedback" name="form-group-proveedor">
		  <label for="select" class="col-lg-2 control-label">Proveedor</label>
		  <div class="col-lg-10">
		  	{{ form_widget(form.idProveedor) }}
		  </div>
		  <div class="text-center help-block with-errors"></div>
		</div>
		<div class="col-md-4 col-md-offset-4">
			<div class="btn-group">
				<div class="col-xs-6">
					{{ form_widget(form.agregarProducto) }}
				</div>
				<div class="col-xs-6">
					<a href="{{ path('sistema_listar_productos') }}" class="btn btn-primary button_class center-block" role="button">Volver</a>
				</div>
			</div>
		</div>
	  </fieldset>
	{{ form_end(form) }}       
	</div>
	</div>	

	{% for mensaje in app.session.flashBag.get('mensaje') %}
	  {{ mensaje|raw }}
	{% endfor %}

{% endblock %}